* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top right, #0dabae, #700dae);
  height: 100vh;
}

.box {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

/* .hidden {
  display: none;
} */

/* nav */

.nav {
  /* background-color: red; */
  display: flex;
  font-size: 25px;
  height: 3.5rem;
  justify-content: space-between;
  position: relative;
  /* bottom: 500px; */
  width: 100%;
  /* z-index: 100%; */
}

.title::before {
  background-color: #700dae;
  border-radius: 25px;
  content: '';
  position: absolute;
  left: 30px;
  bottom: 20px;
  height: 3px;
  width: 30px;
}

/* Welcome container */
.welcome-container {
  background-color: red;
}

/* Ticket */

.ticket-container {
  background-color: #ffffff;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 3rem 5rem #1f1f1f;
  overflow: hidden;
  max-width: 430px;
  width: 100%;
}

.logo {
  top: 13px;
  left: 20px;
  position: relative;
}

/* @media only screen and (max-width: 1000px) {
  .logo {
    position: fixed;
  }
} */

/* Login and registration */

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3rem 5rem #1f1f1f;
  overflow: hidden;
  position: relative;
  max-width: 430px;
  width: 100%;
}

.container .forms {
  align-items: center;
  display: flex;
  transition: height 0.2s ease;
  width: 200%;
}

.container .form {
  background-color: #ffffff;
  padding: 30px;
  transition: margin-left 0.18s ease;
  width: 50%;
}

.container.active .login {
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup {
  opacity: 0;
  transition: opacity 0.09s ease;
}

.container.active .signup {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.container.active .forms {
  height: 600px;
}

.container .form .title {
  font-size: 27px;
  font-weight: 500;
  position: relative;
}

.form .title::before {
  background-color: #700dae;
  border-radius: 25px;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
}

.form .input-field {
  height: 50px;
  margin-top: 30px;
  position: relative;
  width: 100%;
}

.input-field input {
  border: none;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  font-size: 16px;
  height: 100%;
  padding: 0 35px;
  position: absolute;
  outline: none;
  transition: all 0.2s ease;
  width: 100%;
}

.input-field input:is(:focus, :valid) {
  border-bottom-color: #700dae;
}

.input-field i {
  color: #999;
  font-size: 23px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i {
  color: #700dae;
}

.input-field i.icon {
  left: 0;
}
.input-field i.show-hide-pw {
  right: 0;
  cursor: pointer;
  padding: 10px;
}

.icon-bug {
  font-size: 2rem;
}

.form .checkbox-text {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox-text .checkbox-content {
  align-items: center;
  display: flex;
}

.checkbox-content input {
  accent-color: #700dae;
  margin: 0 8px -2px 4px;
}

.form .text {
  color: #333;
  font-size: 14px;
}

.form a.text {
  color: #700dae;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form .button {
  margin-top: 35px;
}

.form .button input {
  background-color: #700dae;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.button input:hover {
  background-color: #b138cf;
}

.form .login-signup {
  margin-top: 30px;
  text-align: center;
}
